{% load static %}
<!doctype html>
<html lang="en">
<head>
	    <link href="{% static 'https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap' %}" rel="stylesheet">

    <link href="{% static 'https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap' %}" rel="stylesheet">

    <link href="{% static 'https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Style for carosel -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Style for cards-->
    <link rel="stylesheet" href="{% static 'css1/styles.css' %}">
    <title>Document</title>
</head>
<body>

<div class="content" style="background-color:black;">

    <div class="container" style="color:white; margin-bottom:1px;">
      <h2 class="my-5 text-center"style=" font-size: 40px;">Latest Articles</h2>
    </div>

    <div class="site-section bg-black mb-5">
      <div class="container owl-2-style">

        <h2 class="text-white py-5">Featured Categories</h2>

        <div class="owl-carousel owl-2">
            {% for category in categories %}
              <div class="media-29101">
                <a href="#"><img src="{{ category.image.url }}" alt="Category Image" class="img-fluid"></a>
                <h3><a href="#">{{ category.title }}</a></h3>
              </div>
            {% endfor %}
        </div>

      </div>
    </div>

</div>


{% for i in posts %}
	<section class="dark">
		<div class="container py-4">
			<article class="postcard dark blue">
				<a class="postcard__img_link" href="#">
					<img class="postcard__img" src="{{ i.image.url }}" alt="Image Title" />
				</a>
				<div class="postcard__text">
					<h1 class="postcard__title blue"><a href="#">{{ i.title }}</a></h1>
					<div class="postcard__subtitle small">
						<time datetime="2020-05-25 12:00:00">
							<i class="fas fa-calendar-alt mr-2"></i>{{ i.created }}
						</time>
					</div>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt">{{i.content}}</div>
					<ul class="postcard__tagbox">
						<li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
						<li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
						<li class="tag__item play blue">
							<a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
						</li>
					</ul>
				</div>
			</article>
		</div>
	</section>
{% endfor %}



    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>